
body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

div.log {
    overflow: scroll;
    height: 400px;
    }

tr.title {
    background-color: #CCCCCC;
    }

tr.subtitle {
    background-color: #EEEEEE;
    }

td.subtitle {
    background-color: #EEEEEE;
    }

td.ok {
    background-color: #CCF4CC;
    }

td.ko {
    background-color: #F4CCCC;
    }

td.clickable:hover {
    background-color: #CCF4CC;
    cursor: pointer;
    cursor: hand;
    }

th.subtitle {
    background-color: #EEEEEE;
    }

span.adv {
    border: 1px solid black;
    display: inline-block;
    min-width: 50px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    }

div.modulo {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    }

div.ok {
    background-color: #CCF4CC;
    }

div.highlight {
    background-color: #FFFF66;
    }

div.ko {
    background-color: #F4CCCC;
    opacity: 0.3;
    }

div.ko:hover {
    opacity: 1;
    }

div.bo {
    background-color: #CCCCCC;
    }

div.clickable {
    cursor: pointer;
    cursor: hand;
    }

div.mblock {
    float: left;
    padding-right: 10px;
    }

div.block {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    }

.disable {
    background: #F4CCCC;
    }

.enable {
    background: #CCF4CC;
    }

div.nodo {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding: 10px 10px 10px 10px;
    min-height: 56px;
    vertical-align: middle;
    background-color: #CCF4CC;
    }

div.scena {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding: 10px 10px 10px 10px;
    min-height: 56px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.3;
    }

div.scena:hover {
    background-color: #FFFF66;
    opacity: 1;
    }

div.nodo:hover {
    background-color: #FFFF66;
    opacity: 1;
    }

div.off {
    background-color: #FFFFFF;
    opacity: 0.3;
    }

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    }