
body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

div.log {
    overflow: scroll;
    height: 400px;
    }

div.block {
    float: left;
    padding-right: 10px;
    }

div.nodo {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding: 10px 10px 10px 10px;
    min-height: 56px;
    vertical-align: middle;
    }

tr.title {
    background-color: #CCCCCC;
    }

tr.subtitle {
    background-color: #EEEEEE;
    }

td.subtitle {
    background-color: #EEEEEE;
    }

td.ok {
    background-color: #CCF4CC;
    }

td.ko {
    background-color: #F4CCCC;
    }

th.subtitle {
    background-color: #EEEEEE;
    }

div.adv {
    border: 1px solid black;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    }

div.module {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    }

div.ok {
    background-color: #CCF4CC;
    }

div.ko {
    background-color: #F4CCCC;
    }

div.bo {
    background-color: #CCCCCC;
    }

div.clickable {
    cursor: pointer;
    cursor: hand;
    }

.disable {
    background: #F4CCCC;
    }

.enable {
    background: #CCF4CC;
    }

span.adv {
    border: 1px solid black;
    display: inline-block;
    min-width: 50px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    }
