body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

tr.title {
    background-color: #CCCCCC;
    }

tr.highlight {
    background-color: #FFFF66;
    }

tr.highlightable:hover {
    background-color: #FFFF66;
    }

tr.subtitle {
    background-color: #EEEEEE;
    }

td.modifying {
    background-color: #FFFF66;
    }

td.highlight:hover {
    background-color: #FFFF66;
    }

.clickable:hover {
    cursor: pointer;
    cursor: hand;
    }

div.block {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    }

div.rblock {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    }

span.adv {
    border: 1px solid black;
    display: inline-block;
    min-width: 50px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    }