img {
    border-radius: 5px;
    }

#logouticon {
    margin-left: 65px;
    }

.navigation-clean {
    background: #323B42;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    }

@media (max-width: 767px) {
    .navigation-clean {
        padding-top: 0;
        padding-bottom: 0;
        }
    }

@media (max-width: 767px) {
    .navigation-clean .navbar-header {
        padding-top: 10px;
        padding-bottom: 10px;
        }
    }

.navigation-clean .navbar-brand {
    font-weight: bold;
    color: inherit;
    }

.navigation-clean .navbar-brand:hover {
    color: #222;
    }

.navigation-clean .navbar-toggle {
    border-color: #ddd;
    }

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
    background: none;
    }

.navigation-clean .navbar-toggle .icon-bar {
    background-color: #888;
    }

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
    border-top-color: #ddd;
    }

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
    background: none;
    box-shadow: none;
    }

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
    color: #77B710;
    box-shadow: none;
    background: none;
    pointer-events: none;
    }

.navigation-clean.navbar .navbar-nav > li > a {
    padding-left: 18px;
    padding-right: 18px;
    }

.navigation-clean.navbar-default .navbar-nav > li > a {
    color: white;
    }

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
    color: white !important;
    background-color: transparent;
    }

.navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px;
    }

@media (max-width: 767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu {
        box-shadow: none;
        }
    }

@media (max-width: 767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
        color: #37434d;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1;
        }
    }

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
    }

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
    background: #eee;
    color: inherit;
    }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(255, 255, 255, .7);
    }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(255, 255, 255, .7);
    background-color: rgb(26, 40, 79);
    }

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
    }

.navbar-light .navbar-brand {
    color: #ffffff;
    }

.profile-card {
    background-image: url("../../assets/img/background01.jpg");
    background-position: center;
    background-size: cover;
    }

body {
    background-color: #1a2751;
    height: 100%;
    }

body {
    }

#container {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -50px;
    }

.navbar-light .navbar-text {
    color: rgb(255, 255, 255);
    }

.navbar-light .navbar-nav .nav-link {
    background-color: rgb(56, 70, 111);
    color: white;
    }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
    }

#navcol-1 {
    border-color: purple;
    }

.navbar.navbar-light.navbar-expand-md.fixed-top {
    background-color: rgba(26, 39, 81, 0.47);
    }

#scene {
    }

.form-check-label {
    color: rgb(42, 138, 200);
    }

.form-check-label {
    padding-right: 5px;
    }

#KeyboardBtnReset {
    margin: 10px;
    }

#KeyboardBtnSave {
    margin: 10px;
    }

#stepsLabel {
    padding-left: 20px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 1px solid rgb(175, 50, 186);
    border-left: 1px solid rgb(175, 50, 186);
    border-bottom: 1px solid rgb(175, 50, 186);
    }

@media (max-width: 768px) {
    #table {
        margin-top: 00px;
        }
    }

@media (min-width: 769px) {
    #table {
        margin-top: 62px;
        }
    }

#stepsNumber {
    border-top: 1px solid rgb(175, 50, 186);
    border-right: 1px solid rgb(175, 50, 186);
    border-bottom: 1px solid rgb(175, 50, 186);
    }

.card-group > .card {
    opacity: 1;
    margin: 10px;
    border-radius: 0px 0px 15px 15px;
    height: 481px;
    }

.card-group {
    max-width: 1015px;
    margin: 0 auto;
    }

.divActiveSeparator {
    border: 1px solid rgb(45, 150, 214);
    padding: 5px;
    height: 37px;
    margin: 3px;
    }

.activeClass {
    color: rgb(45, 150, 214);
    }

.radioActive {
    display: inline-block;
    }

.cardHSeparator {
    border: 1px solid rgb(33, 146, 215);
    margin: 2px;
    }

.sensorCardClass {
    height: 500px;
    }

.minMaxClass {
    margin: 2px;
    width: 50px;
    }

#idSceneRow {
    background-color: rgb(255, 255, 255);
    color: black;
    }

.rowGenClass {
    background-color: white;
    color: black;
    /*opacity:.9;*/
    max-width: 1015px;
    }

#idSceneSelLbl {
    color: rgb(45, 150, 214);
    font-weight: 900;
    }

#idHomeProfileBack {
    height: 150px;
    }

#idSensorScenarioSelect {
    margin-right: 49px;
    margin-top: 10px;
    }

#idSensorScenarioRow {
    height: 6px;
    }

#idBtnLoadSensorScenario {
    margin-top: -6px;
    margin-left: 10px;
    width: 68px;
    }

.tableHeader {
    background-color: rgba(255, 255, 255, 0.8);
    }

.table.sensorTableClass tr td {
    color: rgb(73, 164, 217);
    }

.table-responsive {
    background-color: rgba(255, 255, 255, 0.96);
    }

.blueTextClass {
    color: rgb(46, 140, 200);
    font-weight: 900;
    }

.timeControlClass {
    display: inline-block;
    }

#idEventContainer {
    max-width: 800px;
    }

#idEventLog {
    text-shadow: 4px 4px 2px white;
    }

