.profile-back {
    background-color: #1f679b;
    height: 126px;
    margin-bottom: -75px;
    }

.profile-pic {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    }

.profile-card {
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #1f679b;
    height: 1000px;
    }

.profile-name {
    background-color: #1f679b;
    color: #fff;
    font-family: 'Actor', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 100px;
    max-width: 300px;
    margin: 0 auto 10px auto;
    }

.profile-card .social-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    }

.profile-card .social-list li {
    display: inline;
    margin: 0 5px;
    /*background-color:#9b1f1f;*/
    /*color:#fff;*/
    /*padding:10px;*/
    /*border-radius:100%;*/
    }

.profile-bio {
    margin-bottom: 7px;
    padding: 10px;
    }

.profile-card .social-list li i {
    background-color: #9b1f1f;
    color: #fff;
    padding: 10px 11px;
    border-radius: 100%;
    }

#rowKeyboard {
    opacity: .7;
    }

#sceneSelection {
    color: white;
    }

#sceneForm {
    opacity: 1;
    }

#sceneSelector {
    display: inline-block;
    width: 150px;
    }

.col-form-label {
    /*color:rgb(42,138,200);*/
    color: white;
    /*background-color:white;*/
    padding-right: 20px;
    opacity: 1;
    }

#keyboardCol {
    padding: 5px;
    opacity: 1;
    }

td .btn {
    /*opacity:1 !important;*/
    /*background-color:rgb(0,0,255);*/
    }

.table td, .table th {
    padding: 5px;
    color: rgb(46, 140, 200);
    }

#rowKeyboard, idRowPirPhotoTemp {
    opacity: 1;
    background-color: rgba(32, 26, 68, 0.74);
    }

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem;
    }

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem;
    }

